openapi: 3.2.0
info:
  title: VirusTotal API v3 Threat Graphs API
  version: '3.0'
  description: Create, share, edit, and search Threat Graphs — visualisations of how IoCs and threats relate. Includes the editor/viewer ACL surface.
  contact:
    name: VirusTotal / Google Threat Intelligence
    url: https://docs.virustotal.com/reference/overview
  license:
    name: VirusTotal Terms of Service
    url: https://www.virustotal.com/gui/terms-of-service
  x-generated-from: https://storage.googleapis.com/gtidocresources/guides/GTI_API_v3_openapi_spec_10022025.json
  x-last-validated: '2026-05-29'
servers:
- url: https://www.virustotal.com/api/v3
  description: VirusTotal / GTI API v3 production.
security:
- VTApiKey: []
tags:
- name: Threat Graphs
  description: Threat Graphs
paths:
  /graphs:
    get:
      tags:
      - Threat Graphs
      deprecated: false
      description: 'Endpoint used to search graphs.


        There are a set of multiple modifiers that you can use to refine your search results. You can combine all of them together and use them in conjunction with AND, OR and NOT operators.


        Date and numeric fields support the suffix plus or minus to match values greater or less than the passed value. If not sign has been added to the modifier, you will get exact matches. You can use more than once the same modifier in the same query to define ranges: `creation_date:2018-11-1+` `creation_date:2018-11-12-` will match graphs created between 2018-11-1 and 2018-11-22.


        **Graph-related modifiers**


        | Modifier | Description | Example |

        | :------------------ | :------------------------------------------------- | :------------------------------------------------------------------- |

        | id: | Filters by graph identifier. | id:g675a2fd4c8834e288afd71bbbe88f78884e7d21a8c9348b5ab45cc9281cffc3c |

        | name: | Filters by graph name. | name:Wannacry |

        | owner: | Filters by graphs owned by user. | owner:richard_hendricks |

        | group: | Filters by graphs owned by group. | group:piedpiper |

        | visible_to_user: | Filters by graphs visible to user. | visible_to_user:richard_hendricks |

        | visible_to_group: | Filters by graphs visible to group. | visible_to_group:piedpiper |

        | private: | Filters by private graphs. | private:true, private:false |

        | creation_date: | Filters by the graph creation date. | creation_date:2018-11-1 |

        | last_modified_date: | Filters by the last date the graph was modified. | last_modified_date:2018-11-12 |

        | total_nodes: | Filters by graphs containing some amount of nodes. | total_nodes:100 |

        | comments_count: | Filter by the number of comments of the graph. | comments_count:10+ |

        | views_count: | Filter by the number of graph views. | views_count:1000+ |


        **Node-related modifiers**


        | Modifier | Description | Example |

        | :---------- | :------------------------------------------------------- | :-------------------------------------------------------------------- |

        | label: | Filters by graphs containing nodes with a specific label | label:Kill switch |

        | file: | Filters by graphs containing the file. | file:131f95c51cc819465fa1797f6ccacf9d494aaaff46fa3eac73ae63ffbdfd8267 |

        | domain: | Filters by graphs containing the domain. | domain:piedpiper.com |

        | ip_address: | Filters by graphs containing the ip address. | ip_address:1.1.1.1 |

        | url: | Filters by graphs containing the url. | url: |

        | actor: | Filters by graphs containing the actor. | actor:funny bear |

        | victim: | Filters by graphs containing the victim. | victim:richard_hendricks |

        | email: | Filters by graphs containing the email. | email:richard@piedpiper.com |

        | department: | Filters by graphs containing the department. | department:engineers |


        In addition to these modifiers, you can do a free search query. The search engine will return graphs that match the query with the content of any field in the graph.


        ```curl All graphs

        curl --request POST \

        --url https://www.virustotal.com/api/v3/graphs \

        --header ''x-apikey: ''

        ```

        ```curl FIlter by user

        curl --request POST \

        --url https://www.virustotal.com/api/v3/graphs?filter=owner:bbunny \

        --header ''x-apikey: ''

        ```

        ```curl Attributes selection

        curl --request POST \

        --url https://www.virustotal.com/api/v3/graphs?filter=owner:bbunny&attributes=private,graph_data \

        --header ''x-apikey: ''

        ```

        ```curl Filter by domain

        curl --request POST \

        --url https://www.virustotal.com/api/v3/graphs?filter=domain:hooli.com \

        --header ''x-apikey: ''

        ```


        Supported `order` fields are: `name`, `owner`, `creation_date`, `last_modified_date`, `views_count` and `comments_count`.'
      operationId: graphs
      parameters:
      - description: Return the graphs matching the given criteria only
        in: query
        name: filter
        schema:
          type: string
      - description: Maximum number graphs to retrieve
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: Continuation cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Sort order
        in: query
        name: order
        schema:
          type: string
      - description: Specific fields to retrieve
        in: query
        name: attributes
        schema:
          type: string
      security:
      - VTApiKey: []
      summary: VirusTotal Search Graphs
      responses:
        '200':
          description: Successful VirusTotal API response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Object not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit or quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Threat Graphs
      deprecated: false
      description: 'This endpoint can be used to create new graphs. Note that private graphs will increment the usage of the private graphs quota in your Google Threat Intelligence plan.


        ```json Request example

        {

        "data": {

        "attributes": {

        "comments_count": 0,

        "creation_date": 1599060646,

        "graph_data": {

        "description": "test",

        "version": "5.0.0"

        },

        "last_modified_date": 1599117623,

        "links": [

        {

        "connection_type": "last_serving_ip_address",

        "source": "ecd87dff4decb36ebf35cf2d327cce62fe1e5666d694c4b0f11ff67d540ff4dc",

        "target": "relationships_last_serving_ip_address_ecd87dff4decb36ebf35cf2d327cce62fe1e5666d694c4b0f11ff67d540ff4dc"

        },

        {

        "connection_type": "last_serving_ip_address",

        "source": "relationships_last_serving_ip_address_e743cffce9efddfb4f1d7e7dc3c10c6d562e61b5f65e6dd3fd4f28b604fcc2f6",

        "target": "138.133.35.39"

        },

        {

        "connection_type": "contacted_ips",

        "source": "e743cffce9efddfb4f1d7e7dc3c10c6d562e61b5f65e6dd3fd4f28b604fcc2f6",

        "target": "relationships_contacted_ips_e743cffce9efddfb4f1d7e7dc3c10c6d562e61b5f65e6dd3fd4f28b604fcc2f6"

        },

        {

        "connection_type": "contacted_ips",

        "source": "relationships_contacted_ips_e743cffce9efddfb4f1d7e7dc3c10c6d562e61b5f65e6dd3fd4f28b604fcc2f6",

        "target": "138.133.35.39"

        },

        {

        "connection_type": "commonality",

        "source": "relationships_commonality_106438826",

        "target": "f053cb783411211b54e2837ec01e0998e3d9bc042f599d95f7f2cb4ba348305d"

        },

        {

        "connection_type": "hunting",

        "source": "relationships_hunting_6534979578789888",

        "target": "5a041d8d72fc12d21e09fd781831ff8279199025c3b3da4b13ec24d20200340f"

        }

        ],

        "nodes": [

        {

        "entity_attributes": {

        "has_detections": true

        },

        "entity_id": "e743cffce9efddfb4f1d7e7dc3c10c6d562e61b5f65e6dd3fd4f28b604fcc2f6",

        "index": 0,

        "text": "",

        "type": "url",

        "x": 0,

        "y": 0

        },

        {

        "entity_attributes": {},

        "entity_id": "relationships_last_serving_ip_address_e743cffce9efddfb4f1d7e7dc3c10c6d562e61b5f65e6dd3fd4f28b604fcc2f6",

        "index": 1,

        "text": "",

        "type": "relationship",

        "x": -27.425258029385414,

        "y": -19.198748008541706

        },

        {

        "entity_attributes": {

        "country": "OM",

        "has_detections": true

        },

        "entity_id": "138.133.35.39",

        "fx": -60.42155469411466,

        "fy": -1.7339803589372877,

        "index": 2,

        "text": "",

        "type": "ip_address",

        "x": -60.42155469411466,

        "y": -1.7339803589372877

        },

        {

        "entity_attributes": {

        "has_detections": false,

        "type_tag": "text"

        },

        "entity_id": "733314c4b079b42174c6b55fb89755faca798378ab999ea240b3f14b0d24a90f",

        "index": 6,

        "text": "",

        "type": "file",

        "x": 27.265746471390678,

        "y": -9.726931961146573

        },

        {

        "entity_attributes": {

        "has_detections": false

        },

        "entity_id": "www.blablabla.com",

        "index": 88,

        "text": "",

        "type": "domain",

        "x": -234.75082645175817,

        "y": 8.15972244734705

        },

        {

        "entity_attributes": {

        "intelligence_query": "entity: url path: blablabla",

        "relationship_type": "intelligence"

        },

        "entity_id": "intelligence_-1173580683",

        "index": 154,

        "text": "VTI: entity: url path: blablabla",

        "type": "relationship",

        "x": -27.95565446983731,

        "y": -64.23455937679253

        },,

        {

        "entity_attributes": {

        "commonalities": [

        {

        "commonality": "path",

        "value": "/"

        }

        ],

        "relationship_type": "commonality"

        },

        "entity_id": "relationships_commonality_106438826",

        "fx": -107.49097518267031,

        "fy": 198.2339878510857,

        "index": 160,

        "text": "path: /",

        "type": "relationship",

        "x": -107.49097518267031,

        "y": 198.2339878510857

        },

        {

        "entity_attributes": {

        "relationship_type": "hunting",

        "ruleset_id": "6533973538739388"

        },

        "entity_id": "relationships_hunting_6533973538739388",

        "index": 161,

        "text": "",

        "type": "relationship",

        "x": -130.72553403592232,

        "y": 346.7297024640031

        }

        ],

        "private": true

        },

        "type": "graph"

        }

        }

        ```


        ```json Response example

        {

        "data": {

        "id": "g0538d03053194c338643183e315b134ec3463a392330430938033934f3be3f37",

        "type": "graph"

        }

        }

        ```'
      operationId: createGraphs
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              properties:
                RAW_BODY:
                  format: json
                  type: string
              type: object
      security:
      - VTApiKey: []
      summary: VirusTotal Create a Graph
      responses:
        '200':
          description: Successful VirusTotal API response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Object not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit or quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /graphs/{id}:
    delete:
      tags:
      - Threat Graphs
      deprecated: false
      operationId: graphsDelete
      parameters:
      - description: A 65 char length id which uniquely identify the graph.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            text/plain:
              examples:
                Result:
                  value: ''
          description: '200'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Object not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit or quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - VTApiKey: []
      summary: VirusTotal Delete a Graph
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      tags:
      - Threat Graphs
      deprecated: false
      description: 'Returns a Graph object.


        ```json Response example

        {

        "data": {

        "attributes": {

        "graph_data": {

        "description": "Hooli.com investigation"

        },

        "links": [

        {

        "connection_type": "resolutions",

        "source": "www.hooli.com",

        "target": "relationships_resolutions_wwwhoolicom"

        },

        {

        "connection_type": "resolutions",

        "source": "relationships_resolutions_wwwhoolicom",

        "target": "8.8.8.8"

        }

        ],

        "private": false,

        "creation_date": 1530006951,

        "position": {

        "y": 388,

        "x": 897,

        "scale": "1"

        },

        "nodes": [

        {

        "index": 0,

        "entity_id": "www.hooli.com",

        "text": "Root Node",

        "y": 65,

        "x": -18,

        "type": "domain"

        },

        {

        "y": 42,

        "index": 1,

        "entity_id": "relationships_resolutions_wwwhoolicom",

        "type": "relationship",

        "x": -56

        },

        {

        "index": 2,

        "entity_id": "8.8.8.8",

        "fx": 3.3,

        "fy": 4.4,

        "y": 0,

        "x": -64,

        "type": "ip_address"

        },

        {

        "index": 2,

        "entity_id": "131f95c51cc819465fa1797f6ccacf9d494aaaff46fa3eac73ae63ffbdfd8267",

        "fx": 3.3,

        "fy": 4.4,

        "y": 0,

        "x": -64,

        "type": "file"

        },

        {

        "index": 2,

        "entity_id": "1a0556926f7e76419d12e4c6ad52f10388af11f2689f6c0fb6111a2b85f131de",

        "fx": 3.3,

        "fy": 4.4,

        "y": 0,

        "x": -64,

        "type": "url"

        }

        ]

        },

        "type": "graph",

        "id": "g3ad78ce6c21ae675e81ac376a6fc016c37befa6dc87484b95a2b069f8d04ef44",

        "links": {

        "self": "https://www.virustotal.com/api/v3/graphs/g3ad78ce6c21ae675e81ac376a6fc016c37befa6dc87484b95a2b069f8d04ef44"

        }

        }

        }

        ```'
      operationId: graphsInfo
      parameters:
      - description: A 65 char length id which uniquely identify the graph.
        in: path
        name: id
        required: true
        schema:
          type: string
      security:
      - VTApiKey: []
      summary: VirusTotal Get a Graph Object
      responses:
        '200':
          description: Successful VirusTotal API response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Object not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit or quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Threat Graphs
      deprecated: false
      description: '```json Update request example

        {

        "data":{

        "attributes": {

        "private": true

        },

        "type":"graph"

        }

        }

        ```


        ```json Response example

        {

        "data": {

        "attributes": {

        "private": false,

        "nodes": [

        {

        "type":"domain",

        "entity_id":"www.hooli.com",

        "x":-18,

        "y":65,

        "text":"Root Node",

        "index":0

        },

        {

        "type":"relationship",

        "entity_id":"relationships_resolutions_wwwhoolicom",

        "x":-56,

        "y":42,

        "index":1

        },

        {

        "type":"ip_address",

        "entity_id":"8.8.8.8",

        "x":-64,

        "y":0,

        "index":2,

        "fx":3.3,

        "fy":4.4

        },

        {

        "type":"file",

        "entity_id":"131f95c51cc819465fa1797f6ccacf9d494aaaff46fa3eac73ae63ffbdfd8267",

        "x":-64,

        "y":0,

        "index":2,

        "fx":3.3,

        "fy":4.4

        },

        {

        "type":"url",

        "entity_id":"1a0556926f7e76419d12e4c6ad52f10388af11f2689f6c0fb6111a2b85f131de",

        "x":-64,

        "y":0,

        "index":2,

        "fx":3.3,

        "fy":4.4

        }

        ],

        "links":[

        {

        "source":"www.hooli.com",

        "target":"relationships_resolutions_wwwhoolicom",

        "connection_type":"resolutions"

        },

        {

        "source":"relationships_resolutions_wwwhoolicom",

        "target":"8.8.8.8",

        "connection_type":"resolutions"

        }

        ],

        "position": {

        "x":897,

        "y":388,

        "scale":"1"

        },

        "graph_data": {

        "description": "Hooli.com graph"

        }

        },

        "type": "graph"

        }

        }

        ```'
      operationId: graphsUpdate
      parameters:
      - description: A 65 char length id which uniquely identify the graph.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                graph_data:
                  description: Highlevel graph data.
                  properties:
                    version:
                      description: Current version of the graph.
                      type: string
                  type: object
                links:
                  description: Array of links.
                  items:
                    properties:
                      connection_type:
                        description: Type of the connection between the source and the target.
                        type: string
                      source:
                        description: Entity id of the link source.
                        type: string
                      target:
                        description: Entity id of the link target.
                        type: string
                    type: object
                  type: array
                nodes:
                  description: Array of nodes.
                  items:
                    properties:
                      entity_attributes:
                        description: (optional) Entity related attributes.
                        type: object
                      entity_id:
                        description: Node entity id.
                        type: string
                      fx:
                        description: (optional) Force x position.
                        format: float
                        type: number
                      fy:
                        description: (optional) Force y position.
                        format: float
                        type: number
                      index:
                        description: Index of the node list.
                        format: int32
                        type: integer
                      text:
                        description: (optional) Node label.
                        type: string
                      type:
                        description: Node entity type.
                        type: string
                      x:
                        description: X position of the node.
                        format: float
                        type: number
                      y:
                        description: Y position of the node.
                        format: float
                        type: number
                    type: object
                  type: array
                private:
                  description: Private status.
                  type: boolean
              type: object
      security:
      - VTApiKey: []
      summary: VirusTotal Update a Graph Object
      responses:
        '200':
          description: Successful VirusTotal API response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Object not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit or quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /graphs/{id}/comments:
    get:
      tags:
      - Threat Graphs
      deprecated: false
      description: This endpoint returns the comments posted in a given graph. Check Graph comments relationship page to know more about the returned object.
      operationId: getGraphComments
      parameters:
      - description: A 65 char length id which uniquely identify the graph.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Maximum number of related objects to retrieve
        in: query
        name: limit
        schema:
          type: string
      - description: Continuation cursor
        in: query
        name: cursor
        schema:
          format: int32
          type: integer
      security:
      - VTApiKey: []
      summary: VirusTotal Get Comments on a Graph
      responses:
        '200':
          description: Successful VirusTotal API response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Object not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit or quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Threat Graphs
      deprecated: false
      operationId: postGraphsComments
      parameters:
      - description: A 65 char length id which uniquely identify the graph.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  default: '{"type": "comment", "attributes": {"text": "test"}}'
                  description: A comment object.
                  format: json
                  type: string
              required:
              - data
              type: object
      security:
      - VTApiKey: []
      summary: VirusTotal Add a Comment to a Graph
      responses:
        '200':
          description: Successful VirusTotal API response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataEnvelope'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Object not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit or quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /graphs/{id}/relationships/{relationship}:
    get:
      tags:
      - Threat Graphs
      deprecated: false
      description: This endpoint is the same as /graphs/{id}/{relationship} except it returns just the related object's IDs (and context attributes, if any) instead of returning all attributes.
      operationId: graphsRelationshipsIds
      parameters:
      - description: A 65 char length id which uniquely identify the graph.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Relationship name (see [table](ref:graph-object#relationships))
        in: path
        name: relationship
        required: true
        schema:
          type: string
      - description: Maximum number of related objects to retrieve
        in: query
        name: limit
        schema:
          type: string
      - description: Continuation cursor
        in: query
        name: cursor
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            text/plain:
              examples:
                Result:
                  value: ''
          description: '200'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Object not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit or quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - VTApiKey: []
      summary: VirusTotal Get Object Descriptors Related to a Graph
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /graphs/{id}/{relationship}:
    get:
      tags:
      - Threat Graphs
      deprecated: false
      description: 'Graph objects have number of relationships to other objects. As mentioned in the Relationships section, those related objects can be retrieved by sending `GET` requests to the relationship URL.


        Some relationships are accesible only to users who have access to Google Threat Intelligence.


        The relationships supported by graph objects are documented in the Graph API object page.


        ```json Response example for owner

        {

        "data": {

        "attributes": {

        "first_name": "Richard",

        "last_name": "Hendricks",

        "profile_phrase": "CEO of Pied Piper",

        "reputation": 1,

        "status": "active",

        "user_since": 1528111032

        },

        "id": "hendricks",

        "links": {

        "self": "https://www.virustotal.com/api/v3/users/hendricks"

        },

        "type": "user"

        },

        "links": {

        "self": "https://www.virustotal.com/api/v3/graphs/g510b3e01190b9e6001f7ed7d14015558b11ca9d3e87367b6b809bbb402645bf2/owner"

        }

        }

        ```'
      operationId: graphsRelationships
      parameters:
      - description: A 65 char length id which uniquely identify the graph.
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Relationship name (see [table](ref:graph-object#relationships))
        in: path
        name: relationship
        required: true
        schema:
          type: string
      - description: Maximum number of related objects to retrieve
        in: query
        name: limit
        schema:
          type: string
      - description: Continuation cursor
        in: query
        name: cursor
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            text/plain:
              examples:
                Result:
                  value: ''
          description: '200'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Object not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit or quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - VTApiKey: []
      summary: VirusTotal Get Objects Related to a Graph
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      description: Error response envelope returned by the VirusTotal API.
      properties:
        error:
          $ref: '#/components/schemas/Error'
      required:
      - error
    Error:
      type: object
      description: Standard VirusTotal API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code.
          example: NotFoundError
        message:
          type: string
          description: Human-readable error message.
          example: Resource not found
      required:
      - code
      - message
    DataEnvelope:
      type: object
      description: Successful response envelope. The shape of `data` depends on the endpoint.
      properties:
        data:
          description: Endpoint-specific payload — usually a VirusTotal object or list of objects.
          example: {}
        meta:
          type: object
          description: Optional metadata about the response (cursors, counts, etc.).
          additionalProperties: true
        links:
          type: object
          description: Optional pagination links.
          properties:
            next:
              type: string
              format: uri
              description: URL to the next page of results.
            self:
              type: string
              format: uri
              description: URL of the current page.
          additionalProperties: true
      required:
      - data
  securitySchemes:
    VTApiKey:
      type: apiKey
      in: header
      name: x-apikey
      description: Personal VirusTotal / GTI API key. Found in the user menu of your VirusTotal account.
