openapi: 3.0.3
info:
  title: VirusTotal API v3 - Access Control Access Control - Group Management Access Control - Service Account Management API
  version: '3.0'
  description: Manage users, groups, service accounts, API quotas, and overall account usage in VirusTotal / Google Threat Intelligence.
  contact:
    name: VirusTotal / Google Threat Intelligence
    url: https://docs.virustotal.com/reference/overview
  license:
    name: VirusTotal Terms of Service
    url: https://www.virustotal.com/gui/terms-of-service
  x-generated-from: https://storage.googleapis.com/gtidocresources/guides/GTI_API_v3_openapi_spec_10022025.json
  x-last-validated: '2026-05-29'
servers:
- url: https://www.virustotal.com/api/v3
  description: VirusTotal / GTI API v3 production.
security:
- VTApiKey: []
tags:
- name: Access Control - Service Account Management
  description: Access Control - Service Account Management
paths:
  /groups/{id}/relationships/service_accounts:
    get:
      tags:
      - Access Control - Service Account Management
      deprecated: false
      description: 'Get all the Service Accounts belonging to your Google Threat Intelligence group.

        '
      operationId: getServiceAccountsOfAGroup
      parameters:
      - description: Group ID.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Get Service Accounts of a Group
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Access Control - Service Account Management
      deprecated: false
      description: 'Create a new Service Account inside your Google Threat Intelligence group by only providing a descriptive identifier which must be unique inside your group.

        '
      operationId: createANewServiceAccount
      parameters:
      - description: Group ID.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  description: List of Unique Service Account objects (only 'id' param is needed) within your group.
                  format: json
                  type: string
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Create a New Service Account
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /service_accounts/{id}:
    get:
      tags:
      - Access Control - Service Account Management
      deprecated: false
      description: 'Get the information about a [Service Account](https://gtidocs.virustotal.com/reference/service-accounts-object) object.

        '
      operationId: getAServiceAccountObject
      parameters:
      - description: Service Account ID (with the form <group ID>_<service account ID>
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Get a Service Account Object
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    VTApiKey:
      type: apiKey
      in: header
      name: x-apikey
      description: Personal VirusTotal / GTI API key. Found in the user menu of your VirusTotal account.
