openapi: 3.2.0
info:
  title: VirusTotal API v3 - Access Control Access Control - Quota…
  version: '3.0'
  description: Manage users, groups, service accounts, API quotas, and overall account usage in VirusTotal / Google Threat Intelligence.
  contact:
    name: VirusTotal / Google Threat Intelligence
    url: https://docs.virustotal.com/reference/overview
  license:
    name: VirusTotal Terms of Service
    url: https://www.virustotal.com/gui/terms-of-service
  x-generated-from: https://storage.googleapis.com/gtidocresources/guides/GTI_API_v3_openapi_spec_10022025.json
  x-last-validated: '2026-05-29'
servers:
- url: https://www.virustotal.com/api/v3
  description: VirusTotal / GTI API v3 production.
security:
- VTApiKey: []
tags:
- name: Access Control - Quota Management
  description: Access Control - Quota Management
paths:
  /users/{id}/api_usage:
    get:
      tags:
      - Access Control - Quota Management
      deprecated: false
      description: 'This endpoint retrieves information about a the API usage, broken down by endpoint, of an user in a specific range of days (last 30 days by default).

        The period of time can be delimited by the two query parameters **start_date** and **end_date**, being the first and last day when API usage data will be retrieved, respectively.

        The data available includes only the last 60 natural days.


        > 🚧 Time range restrictions

        >

        > The maximum range of time allowed by this endpoint is 30 days. If a greater range of time is specified, this endpoint will return an error message as response.


        The user can be retrieved either by user ID or by API key, but the latter only works if the requester is the user himself or an administrator of a group the user belongs to.


        ```json Example response

        {

        "data": {

        "daily": {

        "2020-08-10": {

        "urls": 2

        },

        "2020-08-11": {

        "domains": 1,

        "file_relationships": 1,

        "files": 1

        },

        "2020-08-12": {

        "analyses": 25,

        "file_analyse": 3,

        "files": 6

        },

        "2020-08-17": {

        "urls": 3

        },

        "2020-08-18": {

        "urls": 1

        },

        "2020-08-20": {

        "file_download": 36,

        "file_relationships": 5,

        "files": 1

        },

        "2020-08-21": {

        "file_analyse": 1,

        "file_download": 92,

        "files": 1

        },

        "2020-08-23": {

        "analyses": 5,

        "file_analyse": 1

        },

        "2020-08-25": {

        "file_download": 51

        },

        "2020-08-26": {

        "file_download": 51

        },

        "2020-08-28": {

        "file_download": 14

        },

        "2020-08-31": {

        "file_download": 6

        },

        "2020-09-01": {

        "file_download": 81

        },

        "2020-09-02": {

        "file_relationships": 5,

        "graphs": 1

        },

        "2020-09-03": {

        "file_relationships": 6,

        "graph_comments": 1,

        "graph_items": 3,

        "graphs": 2,

        "retrohunt_jobs": 2

        },

        "2020-09-05": {

        "comment_relationships": 1,

        "comments": 4,

        "domain_comments": 1,

        "domain_graphs": 2,

        "domain_relationships": 1,

        "file_analyse": 1,

        "statistics": 1

        },

        "2020-09-06": {

        "file_behaviours": 6,

        "file_relationships": 2,

        "graph_comments": 1,

        "graphs": 5

        },

        "2020-09-07": {

        "domain_relationships": 1,

        "intelligence_search": 5,

        "resolutions": 1,

        "search": 6,

        "submissions": 1,

        "url_relationships": 1,

        "urls": 2

        }

        },

        "total": {

        "analyses": 30,

        "comment_relationships": 1,

        "comments": 4,

        "domain_comments": 1,

        "domain_graphs": 2,

        "domain_relationships": 2,

        "domains": 1,

        "file_analyse": 6,

        "file_behaviours": 6,

        "file_download": 331,

        "file_relationships": 19,

        "files": 9,

        "graph_comments": 2,

        "graph_items": 3,

        "graphs": 8,

        "intelligence_search": 5,

        "resolutions": 1,

        "retrohunt_jobs": 2,

        "search": 6,

        "statistics": 1,

        "submissions": 1,

        "url_relationships": 1,

        "urls": 8

        }

        }

        }

        ```'
      operationId: userApiUsage
      parameters:
      - description: User ID or API key
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: A string in format YYYYMMDD
        in: query
        name: start_date
        schema:
          type: string
      - description: A string in format YYYYMMDD
        in: query
        name: end_date
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Get a User’s API Usage
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users/{id}/overall_quotas:
    get:
      tags:
      - Access Control - Quota Management
      deprecated: false
      description: 'This endpoint returns a summary of a user''s overall quotas including:


        - `allowed`: \ quota limit.

        - `inherited_from`: \ group from which the quota is inherited.

        - `used`: \ how many quota has been used.


        Consumption data based on natural month and UTC.


        ```json Example

        {

        "data": {

        "api_requests_daily": {

        "group": {

        "allowed": 99000000,

        "inherited_from": "company",

        "used": 45073

        },

        "user": {

        "allowed": 1000000000,

        "used": 17

        }

        },

        "api_requests_hourly": {

        "group": {

        "allowed": 3300000,

        "inherited_from": "company",

        "used": 653

        },

        "user": {

        "allowed": 60000000000,

        "used": 0

        }

        },

        "api_requests_monthly": {

        "group": {

        "allowed": 2000000000,

        "inherited_from": "company",

        "used": 142176

        },

        "user": {

        "allowed": 1000000000,

        "used": 137

        }

        }

        }

        }

        ```'
      operationId: getUserOverallQuotas
      parameters:
      - description: User ID or API key
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Get a User’s Quota Summary
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /groups/{id}/api_usage:
    get:
      tags:
      - Access Control - Quota Management
      deprecated: false
      description: 'This endpoint retrieves information about a the API usage, broken down by endpoint, of a group in a specific range of days (last 30 days by default).

        The period of time can be delimited by the two query parameters **start_date** and **end_date**, being the first and last day when API V3 usage data will be retrieved, respectively.

        The data available includes only the last 60 natural days.


        > 🚧 Time range restrictions

        >

        > The maximum range of time allowed by this endpoint is 30 days. If a greater range of time is specified, this endpoint will return an error message as response.


        To use this endpoint and get the API consumption of a certain group, you must be an administrator of that group.


        ```json Example response

        "daily": {

        "2019-10-22": {

        "search": 1

        },

        "2019-10-23": {

        "file_behaviours": 1,

        "file_comments": 1,

        "file_graphs": 1,

        "file_relationships": 20,

        "files": 3,

        "intelligence_search": 3,

        "item_vote": 1

        },

        "2019-10-24": {

        "intelligence_search": 2

        },

        "2019-10-25": {

        "files": 10,

        "intelligence_search": 3

        },

        "2019-10-28": {

        "intelligence_search": 2

        },

        "2019-10-29": {

        "url_submission": 1

        },

        "2019-10-30": {

        "url_submission": 1

        },

        "2019-10-31": {

        "domain_comments": 9,

        "domain_graphs": 9,

        "domain_relationships": 90,

        "file_upload_url": 1,

        "intelligence_search": 30,

        "ip_addresses": 2,

        "ip_addresses_comments": 4,

        "ip_addresses_graphs": 4,

        "ip_addresses_relationships": 28,

        "item_vote": 13,

        "url_submission": 1

        },

        "2019-11-04": {

        "file_behaviours": 2,

        "file_comments": 2,

        "file_graphs": 2,

        "file_relationships": 40,

        "files": 8,

        "intelligence_search": 4,

        "item_vote": 2

        },

        "2019-11-05": {

        "graphs": 1,

        "intelligence_search": 1

        },

        "2019-11-06": {

        "domains": 14,

        "file_comments": 1,

        "file_relationships": 11,

        "files": 34,

        "ip_addresses": 10,

        "urls": 10

        },

        "2019-11-08": {

        "analyses": 1,

        "intelligence_search": 4,

        "item_vote": 3,

        "url_comments": 3,

        "url_graphs": 3,

        "url_relationships": 12,

        "url_submission": 2,

        "urls": 9

        },

        "2019-11-09": {

        "files": 123,

        "intelligence_search": 13

        },

        "2019-11-12": {

        "file_behaviours": 16,

        "file_comments": 15,

        "file_graphs": 15,

        "file_relationships": 314,

        "files": 44,

        "intelligence_search": 3,

        "item_vote": 15,

        "retrohunt_jobs": 1

        },

        "2019-11-13": {

        "file_behaviours": 1,

        "file_comments": 1,

        "file_graphs": 1,

        "file_relationships": 20,

        "files": 2,

        "intelligence_search": 1,

        "item_vote": 1

        },

        "2019-11-18": {

        "analyses": 12,

        "file_behaviours": 10,

        "file_comments": 10,

        "file_graphs": 10,

        "file_relationships": 215,

        "file_upload_url": 1,

        "files": 51,

        "intelligence_search": 7,

        "item_vote": 10

        },

        "2019-11-19": {

        "domain_comments": 1,

        "domain_graphs": 1,

        "domain_relationships": 10,

        "file_behaviours": 9,

        "file_comments": 9,

        "file_graphs": 9,

        "file_relationships": 180,

        "files": 9,

        "intelligence_search": 11,

        "item_vote": 10

        },

        "2019-11-20": {

        "file_behaviours": 5,

        "file_comments": 5,

        "file_graphs": 5,

        "file_relationships": 100,

        "files": 21,

        "intelligence_search": 16,

        "item_vote": 5

        },

        "2019-11-21": {

        "intelligence_search": 8,

        "item_vote": 9,

        "url_comments": 9,

        "url_graphs": 9,

        "url_relationships": 36,

        "urls": 24

        }

        },

        "total": {

        "analyses": 13,

        "domain_comments": 10,

        "domain_graphs": 10,

        "domain_relationships": 100,

        "domains": 54,

        "file_behaviours": 44,

        "file_comments": 44,

        "file_download": 309,

        "file_graphs": 43,

        "file_relationships": 900,

        "file_upload_url": 2,

        "files": 551,

        "graphs": 1,

        "intelligence_search": 189,

        "ip_addresses": 14,

        "ip_addresses_comments": 6,

        "ip_addresses_graphs": 4,

        "ip_addresses_relationships": 39,

        "item_vote": 69,

        "retrohunt_jobs": 1,

        "search": 3,

        "url_comments": 12,

        "url_graphs": 12,

        "url_relationships": 48,

        "url_submission": 5,

        "urls": 53

        }

        }

        ```'
      operationId: groupApiUsage
      parameters:
      - description: Group ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: A string in format YYYYMMDD
        in: query
        name: start_date
        schema:
          type: string
      - description: A string in format YYYYMMDD
        in: query
        name: end_date
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Get a Group’s API Usage
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    VTApiKey:
      type: apiKey
      in: header
      name: x-apikey
      description: Personal VirusTotal / GTI API key. Found in the user menu of your VirusTotal account.
