openapi: 3.2.0
info:
  title: VirusTotal API v3 - Threat Landscape and Vulnerability…
  version: '3.0'
  description: Threat Landscape & Vulnerability Intelligence — Collections, Threat Actors, Malware & Tools, Campaigns, Reports, Vulnerabilities, and the curated IoC catalogue.
  contact:
    name: VirusTotal / Google Threat Intelligence
    url: https://docs.virustotal.com/reference/overview
  license:
    name: VirusTotal Terms of Service
    url: https://www.virustotal.com/gui/terms-of-service
  x-generated-from: https://storage.googleapis.com/gtidocresources/guides/GTI_API_v3_openapi_spec_10022025.json
  x-last-validated: '2026-05-29'
servers:
- url: https://www.virustotal.com/api/v3
  description: VirusTotal / GTI API v3 production.
security:
- VTApiKey: []
tags:
- name: Threat Landscape & Vulnerability Intelligence & Reports & Analysis
  description: Threat Landscape & Vulnerability Intelligence & Reports & Analysis
paths:
  /collections:
    get:
      tags:
      - Threat Landscape & Vulnerability Intelligence & Reports & Analysis
      deprecated: false
      description: '> 🚧 Special privileges required

        >

        > Threat Actors, Campaigns, Reports & Analyses and Vulnerabilities are only available to users with the Google Threat Intelligence (Google TI) Enterprise or Enterprise Plus licenses.'
      operationId: listThreats
      parameters:
      - description: Maximum number of threat objects to retrieve (max 40)
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: Continuation cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Filter threat objects by different properties
        in: query
        name: filter
        schema:
          type: string
      - description: Sorting order
        in: query
        name: order
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\"meta\": {\n  \"cursor\": <string>\n},\n\"data\": [\n  <THREAT_OBJ>,\n  <THREAT_OBJ>,\n  ...\n],\n\"links\": {\n  \"self\": <string>,\n  \"next\": <string>\n}"
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      summary: VirusTotal List Threat Objects (Actor, Malware & Tool, Campaign, IoC…
      security:
      - VTApiKey: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Threat Landscape & Vulnerability Intelligence & Reports & Analysis
      deprecated: false
      description: 'Use this endpoint to create new IoC collections. In the request body, send a collection object containing its name, description and the elements it will contain (for URLs you can either use the URL or its ID). All IOCs must be described as relationships of a newly created Collection object. This is an example request body:


        ```json Create an IoC collection from relationship descriptors

        {

        "data": {

        "attributes": {

        "name": "Test IoC collection",

        "description": "This is how to create a new IoC collection via API."

        },

        "relationships": {

        "domains": {

        "data": [

        {

        "type": "domain",

        "id": "www.virustotal.com"

        },

        {

        "type": "domain",

        "id": "www.hooli.com"

        }

        ]

        },

        "urls": {

        "data": [

        {

        "type": "url",

        "url": "https://www.virustotal.com/"

        },

        {

        "type": "url",

        "id": "f11f7cc900638fae209f68498a90158fbfb067fc4191549ddb657e39cc4428c2"

        }

        ]

        },

        "ip_addresses": {

        "data": [

        {

        "type": "ip_address",

        "id": "8.8.8.8"

        }

        ]

        },

        "files": {

        "data": [

        {

        "type": "file",

        "id": "ecc0f2aa29b102bf8d67b7d7173e8698c0341ddfdf9757be17595460fbf1791a"

        }

        ]

        }

        },

        "type": "collection"

        }

        }

        ```

        ```json Create an IoC collection from raw text

        {

        "data": {

        "attributes": {

        "name": "Test IoC collection",

        "description": "This is how to create a new IoC collection via API."

        },

        "raw_items": "This is a text containing an IoC, www.virustotal.com",

        "type": "collection"

        }

        }

        ```


        To modify the IoC collection''s attributes or add more elements to an IoC collection using a raw text, refer to the PATCH/collections/{id} endpoint.

        To add new elements to the IoC collection refer to the POST /collections/{id}/{relationship} endpoint.

        To remove elements from the IoC collection refer to the DELETE /collections/{id}/{relationship} endpoint.


        ## Examples


        Create a new private IoC collection with 2 IoCs which are ```google.com``` and ```virustotal.com``` domains.


        ```python

        import requests


        url = "https://www.virustotal.com/api/v3/collections"

        payload = {

        "data":

        {

        "type": "collection",

        "attributes":

        {

        "name": "Test IoC collection",

        "description": "This is how to create a new collection via API.",

        "private": True

        },

        "raw_items": "google.com, google.com"

        }

        }

        headers = {

        "accept": "application/json","x-apikey": ,"content-type": "application/json"

        }

        response = requests.post(url, json=payload, headers=headers)

        print(response.text)

        ```'
      operationId: createIocCollection
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  description: IoC Collection object
                  format: json
                  type: string
              required:
              - data
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": {\n    \"attributes\": {\n      \"name\": \"Test IoC collection\",\n      \"description\": \"This is how to create a new collection via API.\",\n      \"top_icon_md5\": [\n        \"1bc1faf71106e964e44cb17ab4dd8d11\"\n      ],\n      \"tags\": [],\n      \"ip_addresses_count\": 0,\n      \"domains_count\": 1,\n      \"creation_date\": 1614784765,\n      \"last_modification_date\": 1614784765,\n      \"references_count\": 0,\n      \"alt_names\": [],\n      \"urls_count\": 0,\n      \"autogenerated_tags\": [],\n      \"files_count\": 0\n    },\n    \"type\": \"collection\",\n    \"id\": \"<ID>\",\n    \"links\": {\n      \"self\": \"https://www.virustotal.com/api/v3/collections/<ID>\"\n    }\n  }\n}"
              schema:
                properties:
                  data:
                    properties:
                      attributes:
                        properties:
                          alt_names:
                            type: array
                          autogenerated_tags:
                            type: array
                          creation_date:
                            default: 0
                            type: integer
                          description:
                            type: string
                          domains_count:
                            default: 0
                            type: integer
                          files_count:
                            default: 0
                            type: integer
                          ip_addresses_count:
                            default: 0
                            type: integer
                          last_modification_date:
                            default: 0
                            type: integer
                          name:
                            type: string
                          references_count:
                            default: 0
                            type: integer
                          tags:
                            type: array
                          top_icon_md5:
                            items:
                              type: string
                            type: array
                          urls_count:
                            default: 0
                            type: integer
                        type: object
                      id:
                        type: string
                      links:
                        properties:
                          self:
                            type: string
                        type: object
                      type:
                        type: string
                    type: object
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Create a New IoC Collection
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /collections/{id}:
    get:
      tags:
      - Threat Landscape & Vulnerability Intelligence & Reports & Analysis
      deprecated: false
      description: '> 🚧 Special privileges required

        >

        > Threat Actors, Campaigns, Reports & Analyses and Vulnerabilities are only available to users with the Google Threat Intelligence (Google TI) Enterprise or Enterprise Plus licenses.


        This endpoint returns a Threat Actor, Campaign, Malware Family, Software or Toolkit Actor, IoC Collection, Report or a Vulnerability object.


        ## Examples


        Get a threat actor report.


        ```python

        import requests

        import urllib


        object_id = "threat-actor--bcaaad6f-0597-4b89-b69b-84a6be2b7bc3"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Get a malware or toolkit report.


        ```python

        import requests

        import urllib


        object_id = "malware--350aa703-7750-5e07-997b-476375955828"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Get a campaign report.


        ```python

        import requests

        import urllib


        object_id = "campaign--24f96f40-b2fa-512c-b1da-2f22a949d12d"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Get a IoC collection report.


        ```python

        import requests

        import urllib


        object_id = "alienvault_64edfc5ab93abb1407070292"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Get a vulnerability report.


        ```python

        import requests

        import urllib


        object_id = "vulnerability--cve-2022-30190"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```'
      operationId: getThreat
      parameters:
      - description: Threat object's ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Get a Threat
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Threat Landscape & Vulnerability Intelligence & Reports & Analysis
      deprecated: false
      description: '## Examples


        Delete a private IoC collection.


        ```python

        import requests


        object_id = "bd4dbd7a189ca9a31cb1b0bdbe64aaba6aa1454ddcfde707518b811d2bc5b363"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}"

        headers = {

        "accept": "application/json","x-apikey":

        }

        response = requests.delete(url, headers=headers)

        ```'
      operationId: deleteIocCollection
      parameters:
      - description: IoC Collection's ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Delete an IoC Collection
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Threat Landscape & Vulnerability Intelligence & Reports & Analysis
      deprecated: false
      description: 'This endpoint allows updating an IoC collection''s attributes (such as name or description) and adding new elements to the IoC collection by using a raw text.


        The following request body shows an example of how to update an IoC collection''s name and add new IOCs to it by using a raw text:


        ```json Example request body

        {

        "data": {

        "attributes": {

        "name": "Updating the name"

        },

        "raw_items": "This is a text containing a IoC, www.virustotal.com",

        "type": "collection"

        }

        }

        ```


        ## Examples


        Change the name and description of a private IoC collection.


        ```python

        import requests


        object_id = "bd4dbd7a189ca9a31cb1b0bdbe64aaba6aa1454ddcfde707518b811d2bc5b363"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}"

        payload = { "data":

        {

        "type": "collection",

        "attributes":

        {

        "name": "New name",

        "description": "New description."

        }

        }

        }

        headers = {

        "accept": "application/json","x-apikey": ,"content-type": "application/json"

        }

        response = requests.patch(url, json=payload, headers=headers)

        ```


        Make public a private IoC collection.


        ```python

        import requests


        object_id = "bd4dbd7a189ca9a31cb1b0bdbe64aaba6aa1454ddcfde707518b811d2bc5b363"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}"

        payload = { "data":

        {

        "type": "collection",

        "attributes":

        {

        "private": False

        }

        }

        }

        headers = {

        "accept": "application/json","x-apikey": ,"content-type": "application/json"

        }

        response = requests.patch(url, json=payload, headers=headers)

        ```'
      operationId: updateIocCollection
      parameters:
      - description: IoC Collection's ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  description: IoC Collection object
                  format: json
                  type: string
              required:
              - data
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"data\": {\n    \"attributes\": {\n      \"name\": \"Updating the name\",\n      \"description\": \"This is how to modify a collection via API.\",\n      \"top_icon_md5\": [\n        \"1bc1faf71106e964e44cb17ab4dd8d11\"\n      ],\n      \"tags\": [],\n      \"ip_addresses_count\": 1,\n      \"domains_count\": 2,\n      \"creation_date\": 1614784765,\n      \"last_modification_date\": 1614784765,\n      \"references_count\": 0,\n      \"alt_names\": [],\n      \"urls_count\": 2,\n      \"autogenerated_tags\": [\n        \"cve-2017-5753\"\n      ],\n      \"files_count\": 1\n    },\n    \"type\": \"collection\",\n    \"id\": \"{id}\",\n    \"links\": {\n      \"self\": \"https://www.virustotal.com/api/v3/collections/{id}\"\n    }\n  }\n}"
              schema:
                properties:
                  data:
                    properties:
                      attributes:
                        properties:
                          alt_names:
                            type: array
                          autogenerated_tags:
                            items:
                              type: string
                            type: array
                          creation_date:
                            default: 0
                            type: integer
                          description:
                            type: string
                          domains_count:
                            default: 0
                            type: integer
                          files_count:
                            default: 0
                            type: integer
                          ip_addresses_count:
                            default: 0
                            type: integer
                          last_modification_date:
                            default: 0
                            type: integer
                          name:
                            type: string
                          references_count:
                            default: 0
                            type: integer
                          tags:
                            type: array
                          top_icon_md5:
                            items:
                              type: string
                            type: array
                          urls_count:
                            default: 0
                            type: integer
                        type: object
                      id:
                        type: string
                      links:
                        properties:
                          self:
                            type: string
                        type: object
                      type:
                        type: string
                    type: object
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Update an IoC Collection
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /collections/{id}/relationships/{relationship}:
    get:
      tags:
      - Threat Landscape & Vulnerability Intelligence & Reports & Analysis
      deprecated: false
      description: '> 🚧 Special privileges required

        >

        > Threat Actors, Campaigns, Reports & Analyses and Vulnerabilities are only available to users with the Google Threat Intelligence (Google TI) Enterprise or Enterprise Plus licenses.


        This endpoint is the same as /collections/{id}/{relationship} for actors, campaigns, malware and IoC collections, reports or vulnerabilities except it returns just the related object''s descriptor instead of returning all attributes.


        Available relationships are described in the Threat Actor, Campaign, Malware Family, Software or Toolkit, IoC Collection, Reports and Vulnerability objects documentation.


        ## Examples


        Get 10 files descriptors related to the Kimsuky threat actor `threat-actor--bcaaad6f-0597-4b89-b69b-84a6be2b7bc3`


        ```python

        import requests

        import urllib


        object_id = "threat-actor--bcaaad6f-0597-4b89-b69b-84a6be2b7bc3"

        relationship = "files"

        limit = 10

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/relationships/{relationship}?limit={limit}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Get 4 domains descriptors related to a given malware or toolkit`


        ```python

        import requests

        import urllib


        object_id = "malware--350aa703-7750-5e07-997b-476375955828"

        relationship = "files"

        limit = 4

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/relationships/{relationship}?limit={limit}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Get 9 URL descriptors related to a given campaign.


        ```python

        import requests

        import urllib


        object_id = "campaign--24f96f40-b2fa-512c-b1da-2f22a949d12d"

        relationship = "urls"

        limit = 9

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/relationships/{relationship}?limit={limit}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Get files descriptors related to a vulnerability.


        ```python

        import requests

        import urllib


        object_id = "vulnerability--cve-2022-30190"

        relationship = "files"

        limit = 10

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/relationships/{relationship}?limit={limit}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```'
      operationId: getThreatRelatedDescriptors
      parameters:
      - description: Threat object's ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Relationship name (see [threat actors](ref:threat-actor-object#relationships), [campaigns](ref:campaign-object#relationships), [malware](ref:malware-family-object#relationships), [toolkits](ref:software-toolkit-object#relationships), [ioc collectins](ref:ioc-collection-object#relationships), [reports](ref:report-object#relationships), [vulnerabilities](ref:vulnerability-object#relationships)) relationships section
        in: path
        name: relationship
        required: true
        schema:
          type: string
      - description: Maximum number of related objects to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: Continuation cursor
        in: query
        name: cursor
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Get Object Descriptors Related to a Threat Object (Actor, Malware &…
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /collections/{id}/{relationship}:
    get:
      tags:
      - Threat Landscape & Vulnerability Intelligence & Reports & Analysis
      deprecated: false
      description: '> 🚧 Special privileges required

        >

        > Threat Actors, Campaigns, Reports & Analyses and Vulnerabilities are only available to users with the Google Threat Intelligence (Google TI) Enterprise or Enterprise Plus licenses.


        This endpoint returns available relationships that are described in the Threat Actor, Campaign, Malware Family, Software or Toolkit, IoC Collection, Reports and Vulnerability objects documentation.


        ## Examples


        Get 10 files related to the Kimsuky threat actor `threat-actor--bcaaad6f-0597-4b89-b69b-84a6be2b7bc3`


        ```python

        import requests

        import urllib


        object_id = "threat-actor--bcaaad6f-0597-4b89-b69b-84a6be2b7bc3"

        relationship = "files"

        limit = 10

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/{relationship}?limit={limit}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Get the names and descriptions of all the objects associated to the malware family with ID `malware--76feb45b-e63a-5a34-8596-da3ce148e776`


        ```python

        import requests

        import urllib


        object_id = "malware--76feb45b-e63a-5a34-8596-da3ce148e776"

        relationship = "associations"

        relationship_attributes = "name,description"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}?relationships={relationship}&relationship_attributes={relationship_attributes}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Get 15 files related to the Zarya Hacktivist Group `report--24-10072685`


        ```python

        import requests

        import urllib


        object_id = "report--24-10072685"

        relationship = "files"

        limit = 10

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/{relationship}?limit={limit}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Get the names and descriptions of all the objects associated to this Blizzard related report `report--42da08f2694dbad8af81281fa3ccc83a44891c13bb56134ca54098127977c222`


        ```python

        import requests

        import urllib


        object_id = "report--42da08f2694dbad8af81281fa3ccc83a44891c13bb56134ca54098127977c222"

        relationship = "associations"

        relationship_attributes = "name,description"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}?relationships={relationship}&relationship_attributes={relationship_attributes}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Get 5 files related to the `vulnerability--cve-2024-6387` vulnerability


        ```python

        import requests

        import urllib


        object_id = "vulnerability--cve-2024-6387"

        relationship = "files"

        limit = 10

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/{relationship}?limit={limit}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Get the names and descriptions of all the objects associated to the Follina vulnerability `vulnerability--cve-2022-30190`


        ```python

        import requests

        import urllib


        object_id = "vulnerability--cve-2022-30190"

        relationship = "associations"

        relationship_attributes = "name,description"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}?relationships={relationship}&relationship_attributes={relationship_attributes}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```'
      operationId: getThreatRelationships
      parameters:
      - description: Threat object's ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Relationship name (see [threat actors](ref:threat-actor-object#relationships), [campaigns](ref:campaign-object#relationships), [malware](ref:malware-family-object#relationships), [toolkits](ref:software-toolkit-object#relationships), [ioc collectins](ref:ioc-collection-object#relationships), [reports](ref:report-object#relationships), [vulnerabilities](ref:vulnerability-object#relationships)) relationships section
        in: path
        name: relationship
        required: true
        schema:
          type: string
      - description: Maximum number of related objects to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: Continuation cursor
        in: query
        name: cursor
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Get Objects Related to a Threat Object (Actor, Malware & Tool…
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Threat Landscape & Vulnerability Intelligence & Reports & Analysis
      deprecated: false
      description: 'As explained in /collections, for the `urls` relationship you either use `{"type": "url", "url": }` or `{"type": "url", "id": }` as object descriptors. For domains and IP addresses you can use `{"type": "domain", "id": }` or `{"type": "ip_address", "id": }`.


        ## Examples


        Delete an element, ```google.com``` domain, from an existing IoC collection.


        ```python

        import requests


        object_id = "bd4dbd7a189ca9a31cb1b0bdbe64aaba6aa1454ddcfde707518b811d2bc5b363"

        relationship = "domains"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/{relationship}"

        payload = { "data":

        [

        {

        "type": "domain",

        "id": "google.com"

        }

        ]

        }

        headers = {

        "accept": "application/json","x-apikey": ,"content-type": "application/json"

        }

        response = requests.delete(url, json=payload, headers=headers)

        ```'
      operationId: deleteElementFromIocCollection
      parameters:
      - description: IoC Collection's ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Relationship name (see [table](ref:ioc-collection-object#relationships))
        in: path
        name: relationship
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  description: Object's descriptors
                  format: json
                  type: string
              required:
              - data
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Delete Items from an IoC Collection
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Threat Landscape & Vulnerability Intelligence & Reports & Analysis
      deprecated: false
      description: 'As explained in /collections, for the `urls` relationship you either use `{"type": "url", "url": }` or `{"type": "url", "id": }` as object descriptors. For domains and IP addresses you can use `{"type": "domain", "id": }` or `{"type": "ip_address", "id": }`.


        ## Examples


        Add new elements, ```google.com``` and ```virustotal.com``` domains, to an existing IoC collection.


        ```python

        import requests


        object_id = "bd4dbd7a189ca9a31cb1b0bdbe64aaba6aa1454ddcfde707518b811d2bc5b363"

        relationship = "domains"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/{relationship}"


        payload = { "data":

        [

        {

        "type": "domain",

        "id": "google.com"

        },

        {

        "type": "domain",

        "id": "virustotal.com"

        }

        ]

        }

        headers = {

        "accept": "application/json","x-apikey": ,"content-type": "application/json"

        }

        response = requests.post(url, json=payload, headers=headers)

        ```'
      operationId: addElementToIocCollection
      parameters:
      - description: IoC Collection's ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Relationship name (see [table](ref:ioc-collection-object#relationships))
        in: path
        name: relationship
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  description: Object's descriptors
                  format: json
                  type: string
              required:
              - data
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Add New Items to an IoC Collection
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /collections/{id}/comments:
    get:
      tags:
      - Threat Landscape & Vulnerability Intelligence & Reports & Analysis
      deprecated: false
      description: '> 🚧 Special privileges required

        >

        > Threat Actors, Campaigns, Reports & Analyses and Vulnerabilities are only available to users with the Google Threat Intelligence (Google TI) Enterprise or Enterprise Plus licenses.


        Returns a list of Comments objects.


        ## Examples


        Get 3 community comments from a threat actor.


        ```python

        import requests

        import urllib


        object_id = "threat-actor--bcaaad6f-0597-4b89-b69b-84a6be2b7bc3"

        limit = 3

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/comments?limit={limit}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Get 3 community comments from a malware or toolkit.


        ```python

        import requests

        import urllib


        object_id = "malware--350aa703-7750-5e07-997b-476375955828"

        limit = 3

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/comments?limit={limit}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Get 3 community comments from a campaign.


        ```python

        import requests

        import urllib


        object_id = "campaign--24f96f40-b2fa-512c-b1da-2f22a949d12d"

        limit = 3

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/comments?limit={limit}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Get 3 community comments from a IoC collection.


        ```python

        import requests

        import urllib


        object_id = "alienvault_64edfc5ab93abb1407070292"

        limit = 3

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/comments?limit={limit}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Get 3 community comments from a vulnerability.


        ```python

        import requests

        import urllib


        object_id = "vulnerability--cve-2022-30190"

        limit =3

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/comments?limit={limit}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```'
      operationId: getThreatComments
      parameters:
      - description: Threat object's ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Maximum number of comments to retrieve
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: Continuation cursor
        in: query
        name: cursor
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Get Comments from a Threat Object (Actor, Malware & Tool, Campaign…
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Threat Landscape & Vulnerability Intelligence & Reports & Analysis
      deprecated: false
      description: '> 🚧 Special privileges required

        >

        > Threat Actors, Campaigns, Reports & Analyses and Vulnerabilities are only available to users with the Google Threat Intelligence (Google TI) Enterprise or Enterprise Plus licenses.


        With this endpoint you can post a comment for a given threat object (threat actor, campaign,malware & tool, IoC collection, report or vulnerability). The body for the `POST` request must be the JSON representation of a comment object. Notice however that you don''t need to provide an ID for the object, as they are automatically generated for new comments.


        Any word starting with # in your comment''s text will be considered a tag, and added to the comment''s tag attribute.


        ```json Example request

        {

        "data": {

        "type": "comment",

        "attributes": {

        "text": "Lorem #ipsum dolor sit ..."

        }

        }

        }

        ```


        ```json Example response

        {

        "data": {

        "type": "comment",

        "id": "",

        "links": {

        "self": "https://www.virustotal.com/api/v3/comments/"

        },

        "attributes": {

        "date": 1521725475,

        "tags": ["ipsum"],

        "html": "Lorem #ipsum dolor sit ...",

        "text": "Lorem #ipsum dolor sit ...",

        "votes": {

        "abuse": 0,

        "negative": 0,

        "positive": 0

        }

        }

        }

        }

        ```


        ## Examples


        Add a comment to a threat actor object.


        ```python

        import requests

        import urllib


        object_id = "threat-actor--eaeae8e9-cc4b-4be8-82fd-8edc65ff9a5e"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/comments"

        payload = { "data": {

        "type": "comment",

        "attributes": { "text": "Lorem #ipsum dolor sit ..." }

        } }

        headers = {"accept": "application/json","x-apikey": ,"content-type": "application/json"}

        response = requests.post(url, json=payload, headers=headers)

        ```


        Add a comment to a malware or toolkit object.


        ```python

        import requests

        import urllib


        object_id = "malpedia_win_remexi"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/comments"

        payload = { "data": {

        "type": "comment",

        "attributes": { "text": "Lorem #ipsum dolor sit ..." }

        } }

        headers = {"accept": "application/json","x-apikey": ,"content-type": "application/json"}

        response = requests.post(url, json=payload, headers=headers)

        ```


        Add a comment to a campaign object.


        ```python

        import requests

        import urllib


        object_id = "campaign--24f96f40-b2fa-512c-b1da-2f22a949d12d"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/comments"

        payload = { "data": {

        "type": "comment",

        "attributes": { "text": "Lorem #ipsum dolor sit ..." }

        } }

        headers = {"accept": "application/json","x-apikey": ,"content-type": "application/json"}

        response = requests.post(url, json=payload, headers=headers)

        ```


        Add a comment to a IoC collection object.


        ```python

        import requests

        import urllib


        object_id = "cobaltstrikebot_614a3b996769300a3b3132cf"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/comments"

        payload = { "data": {

        "type": "comment",

        "attributes": { "text": "Lorem #ipsum dolor sit ..." }

        } }

        headers = {"accept": "application/json","x-apikey": ,"content-type": "application/json"}

        response = requests.post(url, json=payload, headers=headers)

        ```


        Add a comment to a vulnerability.


        ```python

        import requests

        import urllib


        object_id = "vulnerability--cve-2022-30190"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/comments"

        payload = { "data": {

        "type": "comment",

        "attributes": { "text": "Lorem #ipsum dolor sit ..." }

        } }

        headers = {"accept": "application/json","x-apikey": ,"content-type": "application/json"}

        response = requests.post(url, json=payload, headers=headers)

        ```'
      operationId: createThreatComment
      parameters:
      - description: Threat object's ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                data:
                  description: A comment object
                  format: json
                  type: string
              required:
              - data
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Add a Comment to a Threat Object (Actor, Malware & Tool, Campaign…
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /collections/{id}/mitre_tree:
    get:
      tags:
      - Threat Landscape & Vulnerability Intelligence & Reports & Analysis
      deprecated: false
      description: '> 🚧 Special privileges required

        >

        > Threat Actors, Campaigns, Reports & Analyses and Vulnerabilities are only available to users with the Google Threat Intelligence (Google TI) Enterprise or Enterprise Plus licenses.'
      operationId: getThreatMitreTree
      parameters:
      - description: Threat object's ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Get MITRE Tactics and Techniques Associated with a Threat Object…
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /collections/{id}/search:
    get:
      tags:
      - Threat Landscape & Vulnerability Intelligence & Reports & Analysis
      deprecated: false
      description: '> 🚧 Special privileges required

        >

        > Threat Actors, Campaigns, Reports & Analyses and Vulnerabilities are only available to users with the Google Threat Intelligence (Google TI) Enterprise or Enterprise Plus licenses.


        Allows to search IoCs inside a threat object (threat actor, campaign,malware & tool, IoC collection, report or vulnerability) using advanced intelligence queries.


        The expected input is the same as /intelligence/search. By default it searches files, in order to search other entities use `entity:domain/ip/url`.


        ## Examples


        Search for IoCs related to a threat actor that meet certain conditions.


        ```python

        import requests

        import urllib


        object_id = "threat-actor--bcaaad6f-0597-4b89-b69b-84a6be2b7bc3"

        query = "tag%3Aexploit"

        attributes = "name"

        limit = "2"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/search?query={query}&limit={limit}&attributes={attributes}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Search for IoCs related to a malware or toolkit that meet certain conditions.


        ```python

        import requests

        import urllib


        object_id = "malware--350aa703-7750-5e07-997b-476375955828"

        query = "p%3A5+"

        attributes = "name"

        limit = "2"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/search?query={query}&limit={limit}&attributes={attributes}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Search for IoCs related to a campaign that meet certain conditions.


        ```python

        import requests

        import urllib


        object_id = "campaign--24f96f40-b2fa-512c-b1da-2f22a949d12d"

        query = "have%3Ayara_rules"

        attributes = "name"

        limit = "2"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/search?query={query}&limit={limit}&attributes={attributes}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Search for IoCs related to a IoC collection that meet certain conditions.


        ```python

        import requests

        import urllib


        object_id = "alienvault_64edfc5ab93abb1407070292"

        query = "have%3Asigma_rules"

        attributes = "name"

        limit = "2"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/search?query={query}&limit={limit}&attributes={attributes}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Search for IoCs related to a vulnerability that meet certain conditions.


        ```python

        import requests

        import urllib


        object_id = "vulnerability--cve-2022-30190"

        query = "tag%3Acve-2022-30190"

        attributes = "name

        limit = "2"

        relationships = "files"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/search?query={query}&limit={limit}&attributes={attributes}&relationships={relationships}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```'
      operationId: searchIocsInsideAThreat
      parameters:
      - description: Threat object's ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Intelligence query
        in: query
        name: query
        required: true
        schema:
          type: string
      - description: Maximum number of IoCs to retrieve (max 40)
        in: query
        name: limit
        schema:
          default: 10
          format: int32
          type: integer
      - description: Continuation cursor
        in: query
        name: cursor
        schema:
          type: string
      - description: Sorting order
        in: query
        name: order
        schema:
          type: string
      - description: Comma-separated attributes to return from the resulting IoCs
        in: query
        name: attributes
        schema:
          type: string
      - description: Comma-separated name of relationships descriptors to return from the IoCs
        in: query
        name: relationships
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\"meta\": {\n  \"cursor\": <string>,\n  \"total_hits\": <int>,\n  \"allowed_orders\": [<string>, ...]\n},\n\"data\": [\n  <IOC>,\n  <IOC>,\n  ...\n],\n\"links\": {\n  \"self\": <string>,\n  \"next\": <string>\n}"
            text/plain:
              examples:
                Example:
                  value: "{\n\t\"meta\": {\n\t\t\"cursor\": \"eJwNyTEOgzAMBdAroZSVhYJQkOwo6ANK1nao7GTqAFgcvn3ru3cbHZtvGOkIw_j1z7kS-k9GvMh6IZslQx__t7RvkiqdjEUTuNCwtlm0ZbwcybsQ9ODqHVm8AoqEiTVMq7HE05emu381USYK\",\n\t\t\"total_hits\": 138,\n\t\t\"allowed_orders\": [\n\t\t\t\"first_submission_date\",\n\t\t\t\"last_submission_date\",\n\t\t\t\"positives\",\n\t\t\t\"times_submitted\",\n\t\t\t\"size\",\n\t\t\t\"unique_sources\"\n\t\t]\n\t},\n\t\"data\": [\n\t\t{\n\t\t\t\"attributes\": {\n\t\t\t\t\"names\": [\n\t\t\t\t\t\"%windir%\\\\system32\\\\ZHANcETwJnzF\\\\jKbD.dll\",\n\t\t\t\t\t\"08039481f17de1a125763d6dadc9a91615fa027ad42a4f42d886b94063a94822.exe\",\n\t\t\t\t\t\"%windir%\\\\system32\\\\GRygLTtvoipYdeQ\\\\ooKzoWPK.dll\",\n\t\t\t\t\t\"emotet_epoch4.dll\"\n\t\t\t\t]\n\t\t\t},\n\t\t\t\"type\": \"file\",\n\t\t\t\"id\": \"08039481f17de1a125763d6dadc9a91615fa027ad42a4f42d886b94063a94822\",\n\t\t\t\"links\": {\n\t\t\t\t\"self\": \"https://www.virustotal.com/api/v3/files/08039481f17de1a125763d6dadc9a91615fa027ad42a4f42d886b94063a94822\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"attributes\": {\n\t\t\t\t\"names\": [\n\t\t\t\t\t\"E:\\\\\\\\2019\\\\\\\\VirusShare_371\\\\\\\\VirusShare_5e9e1b4354594e0e787c7a03afa0e677\",\n\t\t\t\t\t\"Trojan-Banker.Win32.Emotet.dilb.5e9e1b4354594e0e787c7a03afa0e677\",\n\t\t\t\t\t\"EncPEConstKey_OFS_0002d425_KEY_00000000_Emotet_InternetFile_dec_165.227.213.173_00000000.decompressed.cut\"\n\t\t\t\t]\n\t\t\t},\n\t\t\t\"type\": \"file\",\n\t\t\t\"id\": \"f10ae4230c32ce97563aecbc154da3e058f9857627e1906b634299c8cd8e3641\",\n\t\t\t\"links\": {\n\t\t\t\t\"self\": \"https://www.virustotal.com/api/v3/files/f10ae4230c32ce97563aecbc154da3e058f9857627e1906b634299c8cd8e3641\"\n\t\t\t}\n\t\t}\n\t],\n\t\"links\": {\n\t\t\"self\": \"https://www.virustotal.com/api/v3/collections/malpedia_win_emotet/search?query=name%3Aemotet&attributes=names&limit=2\",\n\t\t\"next\": \"https://www.virustotal.com/api/v3/collections/malpedia_win_emotet/search?cursor=eJwNyTEOgzAMBdAroZSVhYJQkOwo6ANK1nao7GTqAFgcvn3ru3cbHZtvGOkIw_j1z7kS-k9GvMh6IZslQx__t7RvkiqdjEUTuNCwtlm0ZbwcybsQ9ODqHVm8AoqEiTVMq7HE05emu381USYK&query=name%3Aemotet&limit=2&attributes=names\"\n\t}\n}"
              schema:
                properties:
                  data:
                    items:
                      properties:
                        attributes:
                          properties:
                            names:
                              items:
                                type: string
                              type: array
                          type: object
                        id:
                          type: string
                        links:
                          properties:
                            self:
                              type: string
                          type: object
                        type:
                          type: string
                      type: object
                    type: array
                  links:
                    properties:
                      next:
                        type: string
                      self:
                        type: string
                    type: object
                  meta:
                    properties:
                      allowed_orders:
                        items:
                          type: string
                        type: array
                      cursor:
                        type: string
                      total_hits:
                        default: 0
                        type: integer
                    type: object
                type: object
          description: '200'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Object not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit or quota exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      summary: VirusTotal Search IoCs Inside a Threat Object (Actor, Malware & Tool, Campaign…
      security:
      - VTApiKey: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /collections/{id}/download/{format}:
    get:
      tags:
      - Threat Landscape & Vulnerability Intelligence & Reports & Analysis
      deprecated: false
      description: '> 🚧 Special privileges required

        >

        > Threat Actors, Campaigns, Reports & Analyses and Vulnerabilities are only available to users with the Google Threat Intelligence (Google TI) Enterprise or Enterprise Plus licenses.


        ## Examples


        Export IoCs from a threat actor.


        ```python

        import requests

        import urllib


        object_id = "threat-actor--bcaaad6f-0597-4b89-b69b-84a6be2b7bc3"

        format = "json"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/download/{format}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Export IoCs from a malware or toolkit.


        ```python

        import requests

        import urllib


        object_id = "malware--350aa703-7750-5e07-997b-476375955828"

        format = "csv"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/download/{format}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Export IoCs from a campaign.


        ```python

        import requests

        import urllib


        object_id = "campaign--24f96f40-b2fa-512c-b1da-2f22a949d12d"

        format = "json"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/download/{format}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Export IoCs from a IoC collection.


        ```python

        import requests

        import urllib


        object_id = "alienvault_64edfc5ab93abb1407070292"

        format = "json"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/download/{format}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Export IoCs from a vulnerability.


        ```python

        import requests

        import urllib


        object_id = "vulnerability--cve-2022-30190"

        format = "json"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/download/{format}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```'
      operationId: exportThreatIocs
      parameters:
      - description: Threat object's ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Export format (one of `json`, `csv`, or `stix`)
        in: path
        name: format
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"files\": [\n    \"009cc0f34f60467552ef79c3892c501043c972be55fe936efb30584975d45ec0\",\n    \"153117aa54492ca955b540ac0a8c21c1be98e9f7dd8636a36d73581ec1ddcf58\",\n    \"18479a93fc2d5acd7d71d596f27a5834b2b236b44219bb08f6ca06cf760b74f6\"\n  ],\n  \"threat_actors\": [\n    \"muddywater\"\n  ],\n  \"references\": [\n    \"153590cf5677a6ab5b5103382d41d4d8868a878a04104e86e936db63e4d186b8\"\n  ],\n  \"urls\": [\n    \"http://abrahamseed.co.za/db_template.php\",\n    \"http://absfinancialplanning.co.za/images/db_template.php\"\n  ]\n}"
              schema:
                properties:
                  files:
                    items:
                      type: string
                    type: array
                  references:
                    items:
                      type: string
                    type: array
                  threat_actors:
                    items:
                      type: string
                    type: array
                  urls:
                    items:
                      type: string
                    type: array
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Export IOCs from a Threat Object (Actor, Malware & Tool, Campaign…
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /collections/{id}/aggregations/download/{format}:
    get:
      tags:
      - Threat Landscape & Vulnerability Intelligence & Reports & Analysis
      deprecated: false
      description: '> 🚧 Special privileges required

        >

        > This endpoint is only available to users with Google Threat Intelligence (Google TI) Enterprise or Enterprise Plus licenses.


        ## Examples


        Export commonalities from a threat actor.


        ```python

        import requests

        import urllib


        object_id = "threat-actor--bcaaad6f-0597-4b89-b69b-84a6be2b7bc3"

        format = "csv"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/aggregations/download/{format}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Export commonalities from a malware or toolkit.


        ```python

        import requests

        import urllib


        object_id = "malware--350aa703-7750-5e07-997b-476375955828"

        format = "csv"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/aggregations/download/{format}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Export commonalities from a campaign.


        ```python

        import requests

        import urllib


        object_id = "campaign--24f96f40-b2fa-512c-b1da-2f22a949d12d"

        format = "csv"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/aggregations/download/{format}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Export commonalities from a IoC collection.


        ```python

        import requests

        import urllib


        object_id = "alienvault_64edfc5ab93abb1407070292"

        format = "csv"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/aggregations/download/{format}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Export commonalities from a vulnerability.


        ```python

        import requests

        import urllib


        object_id = "vulnerability--cve-2022-30190"

        format = "csv"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/aggregations/download/{format}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```'
      operationId: exportThreatAggregations
      parameters:
      - description: Threat object's ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Export format (one of `json` or `csv`)
        in: path
        name: format
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: "{\n\t\"files\": {\n\t\t\"contacted_urls\": [\n\t\t\t{\n\t\t\t\t\"count\": 2,\n\t\t\t\t\"value\": \"http://ocsp.digicert.com/\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"count\": 2,\n\t\t\t\t\"value\": \"http://crl3.digicert.com/Omniroot2025.crl\"\n\t\t\t}\n      ...\n\t\t],\n\t\t\"contacted_domains\": [\n\t\t\t{\n\t\t\t\t\"count\": 4,\n\t\t\t\t\"value\": \"nexusrules.officeapps.live.com\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"count\": 4,\n\t\t\t\t\"value\": \"officeclient.microsoft.com\"\n\t\t\t},\n      ...\n\t\t],\n    ...\n\t},\n  ...\n}"
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Export Aggregations / Commonalities from a Threat Object (Actor…
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /collections/{id}/{relationship}/download/{format}:
    get:
      tags:
      - Threat Landscape & Vulnerability Intelligence & Reports & Analysis
      deprecated: false
      description: '> 🚧 Special privileges required

        >

        > Threat Actors, Campaigns, Reports & Analyses and Vulnerabilities are only available to users with the Google Threat Intelligence (Google TI) Enterprise or Enterprise Plus licenses.


        ## Examples


        Export files related to a given threat actor.


        ```python

        import requests

        import urllib


        object_id = "threat-actor--bcaaad6f-0597-4b89-b69b-84a6be2b7bc3"

        relationship = "files"

        format = "stix"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/{relationship}/download/{format}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Export files related to a given malware or toolkit.


        ```python

        import requests

        import urllib


        object_id = "malware--350aa703-7750-5e07-997b-476375955828"

        relationship = "files"

        format = "stix"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/{relationship}/download/{format}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Export files related to a given campaign.


        ```python

        import requests

        import urllib


        object_id = "campaign--24f96f40-b2fa-512c-b1da-2f22a949d12d"

        relationship = "files"

        format = "stix"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/{relationship}/download/{format}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Export files related to a given IoC collection.


        ```python

        import requests

        import urllib


        object_id = "alienvault_64edfc5ab93abb1407070292"

        relationship = "files"

        format = "stix"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/{relationship}/download/{format}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```


        Export files related to a given vulnerability


        ```python

        import requests

        import urllib


        object_id = "vulnerability--cve-2022-30190"

        relationship = "files"

        format = "stix"

        url = f"https://www.virustotal.com/api/v3/collections/{object_id}/{relationship}/download/{format}"

        headers = {"accept": "application/json","x-apikey": }

        response = requests.get(url, headers=headers)

        ```'
      operationId: exportIocsThreatRelationship
      parameters:
      - description: Threat object's ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Relationship name (see [threat actors](ref:threat-actor-object#relationships), [campaign](ref:campaign-object#relationships), [malware family](ref:malware-family-object#relationships), [software toolkit](ref:software-toolkit-object#relationships), [ioc collections](ref:ioc-collection-object#relationships), [reports](ref:report-object#relationships), [vulnerabilities](ref:vulnerability-object#relationships)) relationships section
        in: path
        name: relationship
        required: true
        schema:
          type: string
      - description: Export format (one of `json`, `csv`, or `stix`)
        in: path
        name: format
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"files\": [\n    \"009cc0f34f60467552ef79c3892c501043c972be55fe936efb30584975d45ec0\",\n    \"153117aa54492ca955b540ac0a8c21c1be98e9f7dd8636a36d73581ec1ddcf58\",\n    \"18479a93fc2d5acd7d71d596f27a5834b2b236b44219bb08f6ca06cf760b74f6\"\n  ]\n}"
              schema:
                properties:
                  files:
                    items:
                      type: string
                    type: array
                type: object
          description: '200'
        '400':
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                properties: {}
                type: object
          description: '400'
      security:
      - VTApiKey: []
      summary: VirusTotal Export IOCs from a Given Threat Object (Actor, Malware & Tool…
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Error:
      type: object
      description: Standard VirusTotal API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code.
          example: NotFoundError
        message:
          type: string
          description: Human-readable error message.
          example: Resource not found
      required:
      - code
      - message
    ErrorResponse:
      type: object
      description: Error response envelope returned by the VirusTotal API.
      properties:
        error:
          $ref: '#/components/schemas/Error'
      required:
      - error
  securitySchemes:
    VTApiKey:
      type: apiKey
      in: header
      name: x-apikey
      description: Personal VirusTotal / GTI API key. Found in the user menu of your VirusTotal account.
